In [4]:
import pandas as pd

ground_truth = pd.read_csv('./gwas_3_scz_result_files/filtered_snps_sd=0.0.csv')

result = pd.read_csv('./gwas_3_scz_result_files/filtered_snps_sd=1.0.csv')

result.head()

,Unnamed: 0,chr,pos,snp,P,left_border,right_border
0,0,1,2369498,rs4592207,1.297000e-08,2370683,2399614
1,1,1,8424984,rs34269918,2.025000e-09,8392592,8770538
2,2,1,30433951,rs1498232,1.284000e-09,30412503,30437118
3,3,1,44079411,rs603542,1.777000e-09,44029353,44137257
4,4,1,73752210,rs72504650,6.250000e-10,73366368,74033340

In [5]:
coding_snps_df = pd.read_csv("gwas_3_scz_intermediate_files/coding_snps.csv")
coding_region_set = set(coding_snps_df['snp'])

result['coding'] = result['snp'].isin(coding_region_set)
ground_truth['coding'] = ground_truth['snp'].isin(coding_region_set)

In [13]:
import pandas as pd 
result_05 = pd.read_csv('../gwas_3_scz_result_files/filtered_snps_sd=0.5.csv')

first_file_df = pd.read_csv('../gwas_3_scz_matching/result_SAD0.csv', low_memory = False)
first_file_df["P"] = pd.to_numeric(first_file_df["P"], errors="coerce")
print(len(first_file_df[ (first_file_df["P"]<1.20e-7 ) & (first_file_df['snp'].notna())&(first_file_df['P'].notna())]))
print(len(first_file_df[ (first_file_df["P"]<1.90e-7) & (first_file_df['snp'].notna()) & (first_file_df['P'].notna())]))
print(len(first_file_df[ (first_file_df["P"]<5e-8) & (first_file_df['snp'].notna()) & (first_file_df['P'].notna())]))

14551
15866
12754

In [12]:
ground_truth.to_csv('./gwas_3_scz_intermediate_files/ground_truth_with_coding_values')